/* Curiosa — the OIUEEI brand typeface.
   Variable font covering the full weight range (wght 100–900); the second
   block maps font-style: italic onto the same file. Served from
   /public/fonts/curiosa/ at runtime (Vite). The binary is gitignored
   (licensed/trial font — self-hosters must supply their own licensed copy);
   a clone without it falls back to Arial / system sans via the --font-default
   stack. Self-hosters drop their own licensed Curiosa-Variable.woff2 into that
   folder. The --font-default token value is overridden in oiueei-theme.css. */
@font-face {
  font-display: swap;
  font-family: "Curiosa";
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/curiosa/Curiosa-Variable.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Curiosa";
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/curiosa/Curiosa-Variable.woff2') format('woff2');
}
